[submodule "neuro"]
	path = neuro
	url = https://github.com/neuroforest/neuro
	branch = master
[submodule "tw5"]
	path = tw5
	url = https://github.com/TiddlyWiki/TiddlyWiki5.git
	branch = master
[submodule "desktop"]
	path = desktop
	url = https://github.com/neuroforest/desktop.git
	branch = master
[submodule "tw5-plugins/neuroforest/core"]
	path = tw5-plugins/neuroforest/core
	url = https://github.com/neuroforest/tp-core.git
	branch = master
[submodule "tw5-plugins/neuroforest/front"]
	path = tw5-plugins/neuroforest/front
	url = https://github.com/neuroforest/tp-front.git
	branch = master
[submodule "tw5-plugins/neuroforest/neo4j-syncadaptor"]
	path = tw5-plugins/neuroforest/neo4j-syncadaptor
	url = https://github.com/neuroforest/tp-neo4j-syncadaptor.git
	branch = master
[submodule "tw5-plugins/neuroforest/basic"]
	path = tw5-plugins/neuroforest/basic
	url = https://github.com/neuroforest/tt-basic.git
	branch = master
[submodule "tw5-plugins/neuroforest/mobile"]
	path = tw5-plugins/neuroforest/mobile
	url = https://github.com/neuroforest/tt-mobile.git
	branch = master
